apiVersion: v1
kind: Service
metadata:
  name: {{ include "vm-dotnet-api.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    {{- include "vm-dotnet-api.selectorLabels" . | nindent 4 }}